body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

#profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#projects {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.project img.cover {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project img.windows-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.project h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.project a {
    text-decoration: none;
    color: #333;
}

.project p {
    font-size: 0.9em;
    color: #666;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
